@use "variables" as *;

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: $primary-color;
  border-radius: $border;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input, select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: $border;
        font-size: 14px;
        width: 200px;

        &:focus {
          border-color: $primary-color;
          outline: none;
          box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
        }
      }

      input[name="age"] {
        width: 100px;
      }

      .error {
        color: $error-color;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    button {
      padding: 10px 15px;
      background-color: $secondary-color;
      color: white;
      border: none;
      border-radius: $border;
      cursor: pointer;
      font-size: 16px;
      transition: 0.3s;

      &:hover {
        background-color: darken($secondary-color, 20%);
      }
    }
  }
}
